.benefits {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
  }
}

.benefits-icon-block {
  background-color: #f5f4fa;
  border-radius: 4px;
  // width: 290px;
  height: 120px;
  margin-bottom: var(--typical-gap);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  // @include mobile {
  //   width: 450px;
  // }
  // @include tablet {
  //   width: 354px;
  // }
  // @include desktop {
  //   width: 270px;
  // }
}

.benefits-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--first-title-color);
  margin-bottom: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.benefits-list {
  @include mobile {
  }
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--typical-gap));
  }
  @include desktop {
    flex-wrap: nowrap;
  }
}

.benefits-item {
  // width: 95vw;
  &:not(:last-child) {
    margin-bottom: var(--typical-gap);
  }
  @include mobile {
    width: 450px;
  }
  @include tablet {
    width: 354px;
    flex-basis: calc(100% / 2 - var(--typical-gap));
    margin-left: var(--typical-gap);
    &:nth-last-child(-n + 2) {
      margin-bottom: 0px;
    }
  }

  @include desktop {
    width: 270px;
    flex-basis: calc(100% / 4 - var(--typical-gap));
    &:nth-child(n) {
      margin-left: var(--typical-gap);
      margin-right: 0;
      margin-bottom: 0;
    }
  }
}

.benefits-item-content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
