.header {
  border-bottom: 1px solid #ececec;
  > .container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    @include mobile {
    }
    @include tablet {
      padding-top: 0;
      padding-bottom: 0;
    }
    @include desktop {
    }
  }
}

.header__logo {
  margin-right: 93px;
}

.header__logo-part {
  color: var(--first-title-color);
}

.header-list,
.header-contact {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @include mobile {
  }
  @include tablet {
    display: flex;
  }
  @include desktop {
  }
}

.header-contact {
  margin-left: auto;
  align-items: center;
  @include mobile {
  }
  @include tablet {
    display: block;
    font-size: 12px;
    line-height: 1.17;
  }
  @include desktop {
    display: flex;
    font-size: 14px;
    line-height: 1.14;
  }
}

.header-list__item:not(:first-child) {
  margin-left: 50px;
}

.header-list__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--header-color);
  transition: color var(--time-transition) var(--typical-cubic);

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.link.header-list__link--current {
  color: var(--accent-color);
  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -1px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

.header-contact__point:last-child {
  margin-left: 30px;
  @include mobile {
  }
  @include tablet {
    margin-left: 0;
    margin-top: 10px;
  }
  @include desktop {
    margin-left: 30px;
    margin-top: 0;
  }
}

.header-contact__link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--basic-text-color);
  fill: currentColor;
  transition: color var(--time-transition) var(--typical-cubic);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }

  @include mobile {
  }
  @include tablet {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  @include desktop {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.header-contact__icon {
  margin-right: 10px;
}

// mobile menu
.mob-menu {
  position: fixed;
  z-index: 10;
  top: 0;
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  // transform: scaleY(1);

  .mob-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    overflow: scroll;
    margin-left: auto;
    margin-right: auto;

    @include mobile {
      width: 480px;
    }
    @include tablet {
      width: 768px;
    }
    @include desktop {
      width: 1200px;
    }
  }
  @include tablet {
    display: none;
  }
  @include desktop {
  }
}

// .mob-menu.is-hidden {
//   transform: scaleY(0.1);
// }

.mob-menu-list__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mob-menu-list__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--first-title-color);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.link.mob-menu-list__link--current {
  color: var(--accent-color);
}

.mob-menu-open-btn,
.mob-menu-close-btn {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: auto;
  background-color: transparent;
  border: none;
  @include tablet {
    display: none;
  }
  @include desktop {
  }
}
.mob-menu-close-btn {
  margin-right: 15px;
  margin-top: 10px;
}

.mob-menu-open-icon,
.mob-menu-close-icon {
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.mob-menu-top,
.mob-menu-bottom {
  padding-left: 40px;
}

.mob-menu-bottom {
  margin-top: 32px;
  padding-bottom: 48px;
}

.mob-menu-contact__point {
  margin-bottom: 32px;
  &:last-child {
    margin-bottom: 64px;
  }
}
.mob-menu-contact__tel {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  @include mobile {
    font-size: 34px;
  }
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.mob-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--basic-text-color);
  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.mob-soc_list {
  display: flex;
}
.mob-soc_item {
  position: relative;
  &:not(:last-child) {
    margin-right: 20px;

    &::after {
      content: '';
      width: 22px;
      height: 1px;
      background-color: rgba(33, 33, 33, 0.2);
      position: absolute;
      transform: rotate(90deg);
      left: 100%;
      bottom: 50%;
    }
  }
}

.mob-soc_link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  @include mobile {
    font-size: 18px;
  }
  @include tablet {
    display: none;
  }
  @include desktop {
  }

  &:focus,
  &:hover {
    color: var(--accent-color);
  }
}

.no-scroll {
  overflow: hidden;
}
