.portfolio {
  padding-top: 60px;
  padding-bottom: 60px;

  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    padding-top: var(--typical-padding);
    padding-bottom: var(--typical-padding);
  }
}

.pf-type-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 40px;
  @include mobile {
  }
  @include tablet {
    margin-bottom: 30px;
  }
  @include desktop {
    margin-bottom: 50px;
  }
}

.pf-type-item {
  margin-left: 8px;
  margin-bottom: 15px;
  &:first-child {
    margin-left: 0px;
  }
  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    margin-bottom: 0;
  }
}

.pf-type-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  cursor: pointer;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  background: #f5f4fa;
  border-radius: 4px;
  border-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 20px;
  padding-right: 20px;
  transition: color var(--time-transition) var(--typical-cubic),
    background-color var(--time-transition) var(--typical-cubic),
    box-shadow var(--time-transition) var(--typical-cubic);
  &:focus,
  &:hover {
    color: var(--second-title-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    outline: 0px;
  }
}

.pf-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--typical-gap));
  margin-bottom: calc(-1 * var(--typical-gap));
}

.pf-item-list {
  &:not(:last-child) {
    margin-bottom: var(--typical-gap);
  }
  margin-left: var(--typical-gap);
  max-width: 450px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  transition: box-shadow var(--time-transition) var(--typical-cubic);
  &:focus,
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @include mobile {
  }
  @include tablet {
    max-width: 354px;
    margin-left: var(--typical-gap);
    flex-basis: calc(100% / 2 - var(--typical-gap));
  }
  @include desktop {
    max-width: 370px;
    flex-basis: calc(100% / 3 - var(--typical-gap));
  }
}

.pf-hover-wrap {
  position: relative;
  overflow: hidden;
}

.pf-hover-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding-top: 63px;
  padding-bottom: 63px;
  padding-left: 24px;
  padding-right: 24px;
  transform: translateY(100%);
  transition: transform var(--time-transition) var(--typical-cubic);

  .pf-item-list:hover & {
    transform: translateY(0%);
  }
}

.pf-list-description {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.pf-item-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--first-title-color);
  margin-bottom: 4px;
}

.pf-item-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--basic-text-color);
}
