.modal {
  position: absolute;
  top: 50%;
  // top: 5px;
  left: 50%;
  transform: translate(-50%, -50%);
  // transform: translate(-50%);
  width: 95vw;
  min-height: 609px;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--time-transition) var(--typical-cubic);

  @include mobile {
    width: 450px;
  }
  @include tablet {
    // top: 50%;
    // transform: translate(-50%, -50%);
  }
  @include desktop {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden {
  .modal {
    transform: translate(-50%, -50%) scaleY(0.1);
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-title-color);
  margin-bottom: 12px;
}

.modal-form__content {
  margin-bottom: 10px;
}

.modal-form__input-wrap {
  position: relative;
}

.modal-form__icon-input {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--time-transition) var(--typical-cubic);

  .modal-form__input:focus + &,
  .modal-form__input:hover + & {
    fill: var(--accent-color);
  }
}

.modal-form__content-comment {
  margin-bottom: 20px;
}

.modal-form__content-check {
  margin-bottom: 30px;
}

.modal-form__input-text {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--basic-text-color);
}

.modal-form__input,
.modal-form__user-comment {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: transparent;
  transition: border var(--time-transition) var(--typical-cubic);
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}

.modal-form__input {
  padding-left: 42px;
}

.modal-form__user-comment {
  display: block;
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  &::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__check-text {
  display: flex;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  justify-content: center;
  align-items: center;
  .modal-form__checkbox:checked + & {
    .modal-form__check-icon {
      background-color: var(--accent-color);
      border: none;
    }
  }

  .modal-form__check-icon {
    display: flex;
    width: 16px;
    height: 15px;
    align-items: center;
    justify-content: center;
    margin-right: 7px;
    border: 2px solid #212121;
    border-radius: 2px;
    transition: background-color var(--time-transition) var(--typical-cubic),
      fill var(--time-transition) var(--typical-cubic),
      border var(--time-transition) var(--typical-cubic);
  }

  @include mobile {
  }
  @include tablet {
  }
  @include desktop {
    line-height: 1.71;
    font-size: 14px;
  }
}

.modal-form__privacy-link {
  color: var(--accent-color);
}
