body {
  font-family: 'Roboto', sans-serif;
  color: var(--basic-text-color);
}

.list,
.pf-type-item {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
