:root {
  --basic-text-color: #757575;
  --header-color: #212121;
  --accent-color: #2196f3;
  --first-title-color: #212121;
  --second-title-color: #ffffff;
  --typical-gap: 30px;
  --typical-padding: 94px;
  --social-link-fill: #afb1b8;
  --time-transition: 250ms;
  --typical-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
